@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(/assets/product-bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #e34513;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #e34513;
  border-radius: 50%;
}

/* Base styles (unchanged) */
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

body {
  display: grid;
}

.page-content {
  display: grid;
  grid-gap: 1.5rem;
  padding: 2rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);

  /* Add animation */
  animation: fadeIn 1s var(--e) forwards;
  opacity: 0; /* Start hidden */
}
@media (min-width: 600px) {
  .card {
    height: 250px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://cdn.pixabay.com/photo/2020/03/13/16/06/nature-4928382_640.jpg);
}
.card:nth-child():before {
  background-image: url(https://images.unsplash.com/photo-1582719188393-bb71ca45dbb9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8R2FybWVudHMlMjBpbiUyMHN0b3JlfGVufDB8fDB8fHww);
}
.card:nth-child(2):before {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/06/14/59/rice-1028635_640.jpg);
}
.card:nth-child(3):before {
  background-image: url(https://cdn.pixabay.com/photo/2012/03/03/23/02/almonds-21502_640.jpg);
}
.card:nth-child():before {
  background-image: url(https://imgs.search.brave.com/r0z-n_yUy3ys6aZ9yEf4vtedxToAOhp-9RIXswqZQJU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA5LzMxLzg0Lzg2/LzM2MF9GXzkzMTg0/ODY0OV9GUGMySURl/RjdheEg3dTh3Q3BF/SjVMdDBRSnlkZjA3/ei5qcGc);
}
.card:nth-child(4):before {
  background-image: url(https://imgs.search.brave.com/Ww_q-2i89Nr3XqxUxFTEdzOOuN-bQ2RkwS4v3Et3Q-U/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvOTgw/MDM3MzAvcGhvdG8v/Y29jb251dHMuanBn/P3M9NjEyeDYxMiZ3/PTAmaz0yMCZjPU4y/SWUwSXgxS2lIOUh5/LW5xU29XczRKdk1f/RGswYjJUaG1teUQ1/d0txY3M9);
}
.card:nth-child():before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child():before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.products-header {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  place-items: center; /* Light background for contrast */
}

.products-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #ff0000;
  text-transform: capitalize;
  letter-spacing: 0.07em;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #ff0000, #ff1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 3px dashed #ff0000;
  padding-bottom: 0.5rem;
}

.products-description {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  color: #666;
}

.products-quote {
  font-family: "Georgia", serif;
  font-size: 1.2rem;
  font-style: italic;
  color: #444;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}
